* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1b1b;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    min-width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    background-color: #1b1b1b;
    position: fixed;
    z-index: 100;
}

.logo {
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.logo img {
    max-width: 90px;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.nav-links li {
    list-style: none;
    margin-right: 20px;
}

.nav-links a {
    color: #4f95f0;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1px;
    font-size: 18px;
}

.signIn {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
}

.signIn a {
    color: #4f95f0;
    text-decoration: none;
}

.tab {
    display: none;
    cursor: pointer;
}

.tab div {
    width: 29px;
    height: 3px;
    background-color: #4f95f0;
    margin: 5px;
}

@media screen and (max-width: 800px) {
    body {
        overflow: hidden;
    }
    .nav-links {
        position: absolute;
        top: 8.5vh;
        left: 0%;
        height: 40vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #4f95f0;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }
    .nav-links li {
        opacity: 0;
    }
    .tab {
        position: absolute;
        top: 2vh;
        left: 47%;
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkTog {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: #4f95f0;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: #4f95f0;
}

#welcome {
    background: linear-gradient(110deg, #f5f5f5 60%, #4f95f0 60%);
    width: 100vw;
    height: 100vh;
}

.hero-img {
    width: 500px;
    height: 550px;
    margin-top: 2.9rem;
    position: absolute;
    left: 50%;
    top: 10%;
}

.hero-text {
    position: absolute;
    top: 30%;
    left: 15%;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 3rem;
    font-size: 25px;
    color: #202020;
    text-transform: uppercase;
}

.intro {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    font-style: normal;
    padding-top: 2em;
    margin-bottom: 2em;
    width: 46%;
    line-height: 1.5em;
    font-size: 20px;
    text-transform: none;
}

.hero-cta {
    position: absolute;
    top: 71%;
    left: 16%;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding: 1.5em 3em;
    border-radius: 500px;
    background-color: #4f95f0;
    color: #202020;
}

#about {
    background: #ececec;
    width: 100vw;
    height: 100vh;
    padding-top: 4rem;
}

.title {
    margin: 5px 0px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 5rem;
    font-size: 3rem;
    text-align: center;
    color: #202020;
    text-transform: uppercase;
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #202020;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

.card {
    padding: 30px;
    font-size: 28px;
    text-align: center;
}

.card>i {
    font-size: 5rem;
    margin: 50px;
    color: #4e4e4e;
}

i {
    vertical-align: -5px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

#banner {
    background: linear-gradient(110deg, #ececec 3%, #4f95f0 3%, #4f95f0 97%, #ececec 97%);
    height: 6rem;
    text-align: center;
    padding: 35px;
    margin-top: -1px;
}

#product {
    background: #ececec;
    width: 100vw;
    height: 125vh;
    padding-top: 4rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.photo {
    height: 300px;
    width: auto;
    display: inline-block;
    padding: 10px;
}

#plans {
    background: linear-gradient(110deg, #4f95f0 60%, #f5f5f5 60%);
    width: 100vw;
    height: 50vh;
    padding-top: 4rem;
}

.foot-button{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding: 1.2em;
    border-radius: 500px;
    background-color:#4e4e4e;
    color: white;
}

.button{
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}